
# Mailpit
# To pass them to your IDE, you can set them:
#  * as global template in the Junit execution configuration
#  * as windows env (if you work on wsl with your ide on windows))
#
# Intellij does not support them:
# https://youtrack.jetbrains.com/issue/IJPL-11588/Support-direnv
#
export MAILPIT_SMTP_HOST=$(pass eraldy/mailpit-hostname)
export MAILPIT_SMTP_PORT=465
